OPENAI_API_KEY="Add your OPENAI key here"
AWS_ACCESS_KEY_ID="Add your AWS access key ID here"
AWS_SECRET_ACCESS_KEY="Add your AWS secret access key here"
AWS_REGION="Add your AWS region here (e.g. us-west-2)"
AZURE_OPENAI_API_KEY="Add your Azure OpenAI API key here"
AZURE_ENDPOINT_URL="Add your Azure endpoint URL here"
AZURE_DEPLOYMENT_NAME="Add your Azure deployment name here"
AZURE_API_VERSION="Add your Azure API version here"
