annotated-types==0.6.0
anthropic==0.42.0
anyio==4.7.0
async-timeout==4.0.3
asyncpg==0.29.0
beautifulsoup4==4.12.3
boto3==1.35.86
botocore==1.35.86
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
CurrencyConverter==0.17.25
databases==0.8.0
distro==1.9.0
dnspython==2.6.1
email_validator==2.1.1
fastapi==0.110.0
frozendict==2.4.6
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
idna==3.6
jiter==0.8.2
jmespath==1.0.1
loguru==0.7.3
lxml==5.3.0
mcp==1.1.2
-e git+ssh://git@github.com/yogendrahexo/mcp-anthropic.git@513afb3ea854b544736ac15aefee1273f0d86964#egg=mcp_client&subdirectory=mcp-client
multitasking==0.0.11
numpy==2.2.0
openai==1.55.1
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas==2.2.3
peewee==3.17.8
platformdirs==4.3.6
psycopg2-binary==2.9.9
pydantic==2.10.4
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
s3transfer==0.10.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==1.4.51
sse-starlette==2.1.3
starlette==0.36.3
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uv==0.5.11
uvicorn==0.27.1
webencodings==0.5.1
win32_setctime==1.2.0
yfinance==0.2.40
